@import url('https://fonts.googleapis.com/css?family=Aldrich');

:root {
    font-family: 'Aldrich', sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: #444444;
    color: #aaaaaa;
}

header img {
    width: 194px;
}

header nav a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 24px;
    margin-left: 50px;
}

article {
    margin: 5px 5px 5px 5px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h3 {
    font-size: 24px;
}

 article img {
    width: 503px;
    background-position: center;
    background-size: cover;
    }

    .about_text {
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 5px;
        max-width: 503px;
        font-size: 18px;
    }

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

@media (min-width: 700px) {
    footer {
        text-align: right;
    }
}
