@import url('https://fonts.googleapis.com/css?family=Aldrich');

:root {
    font-family: 'Aldrich', sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: #444444;
    color: #aaaaaa;
}

header img {
    width: 194px;
}

header nav ul {
    margin-left: 80px;
    margin-top: 80px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 24px;
}

.nav_home a:hover {
    color: lemonchiffon;
    text-decoration: underline;
}

.nav_about a:hover {
    color: coral;
    text-decoration: underline;
}

.nav_projects a:hover {
    color: deepskyblue;
    text-decoration: underline;
}

.nav_links a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

.nav_contacts a:hover {
    color: mediumorchid ;
    text-decoration: underline;
}

article {
    margin: 10px 10px 10px 10px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h3 {
    font-size: 24px;
}

article img {
    width: 100%;
    max-width: 503px;
    background-position: center;
    background-size: cover;
}

.about_text {
    max-width: 503px;
    font-size: 18px;
    width: 100%;
    text-align: justify;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

@media (min-width: 700px) {
    footer {
        text-align: right;
    }
}
